<div class={{containerClass}}>
  <div>{{potTitle}}</div>

  <ul class="teams">
    {{#each @teams key="@index" as |team|}}
      <li>{{team.name}}</li>
    {{/each}}
  </ul>

  <button onclick={{action drawPot}} disabled={{drawn}}>Draw</button>
</div>
