<div class="pot-title {{drawnClass}}">{{potTitle}}</div>

<div class="pot-teams {{drawnClass}}">
  <ul>
    {{#each @teams key="@index" as |team|}}
      <li>{{team.name}}</li>
    {{/each}}
  </ul>
</div>

{{#if @showDrawButton}}
  <div class="pot-draw-button">
    <button onclick={{action drawPot}} disabled={{drawn}}>Draw</button>
  </div>
{{/if}}
