<div>
  <h1>Russia 2018 World Cup Draw</h1>
  <div class="group-container">
    {{#each pots key="@index" as |pot index|}}
      <div class="group-item">
        <wc-pot @number={{index}} @teams={{pot}} @drawPot={{action drawPot index}} />
      </div>
    {{/each}}
  </div>
</div>
<div>
  <div class="group-container" width={{@width}}>
    {{#each groups key="@key" as |group letter|}}
      <div class="group-item">
        <wc-group @letter={{letter}} @teams={{group}} />
      </div>
    {{/each}}
  </div>
  <button onclick={{action resetDraw}}>Reset</button>
</div>
