<div class="main-container">
  <h1>Russia 2018 World Cup Draw</h1>
  
  <div class="pot-container">
    {{#each potsToRender key="key" as |pot index|}}
      <div class="pot-item">
        <wc-pot
          @number={{index}}
          @teams={{pot.teams}}
          @drawPot={{action drawPot index}}
          @showDrawButton={{pot.showDrawButton}}
        />
      </div>
    {{/each}}
  </div>

  <div class="group-container" width={{@width}}>
    {{#each groups key="@key" as |group letter|}}
      <div class="group-item {{class-if-equals 'highlight' groupToHighlight letter}}">
        <wc-group @letter={{letter}} @teams={{group}} />
      </div>
    {{/each}}
  </div>
  
  <div class="draw-button-container">
    <button onclick={{action resetDraw}}>Reset</button>
  </div>
</div>