<div>
  <h1>Russia 2018 World Cup Draw</h1>
  <div class="group-container">
    {{#each potsToRender key="@index" as |pot index|}}
      <div class="group-item">
        <wc-pot
          @number={{index}}
          @teams={{pot.teams}}
          @drawPot={{action drawPot index}}
          @showDrawButton={{pot.showDrawButton}}
        />
      </div>
    {{/each}}
  </div>
</div>
<div>
  <div class="group-container" width={{@width}}>
    {{#each groups key="@key" as |group letter|}}
      <div class="group-item">
        <wc-group @letter={{letter}} @teams={{group}} />
      </div>
    {{/each}}
  </div>
  <button onclick={{action resetDraw}}>Reset</button>
</div>
